h1 {
	text-align: center;
}

.aircraft-info,
.company-info,
.airport-info {
  margin-top:20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.aircraft-label,
.company-label,
.airport-label {
	flex-basis: 150px;
	font-weight: bold;
}

.aircraft-row,
.company-row,
.airport-row {
    display:flex;
}